<!-- <nav class="grey darken-3">
  <div class="container">
    <div class="nav-wrapper">
        <a data-activates="main-menu" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="brand-logo center">
        StoryBook</a> -->

        <!-- Right Nav -->
      <!-- <ul class="right hide-on-small-only">
        <li>Welcome Vaibhav</li>
        <li><a><i class="fas fa-sign-out-alt"></i>Logout</a></li>
      </ul> -->
      <!-- Side Nav -->
      <!-- <ul id="main-menu" class="side-nav">
        <li>
          <a class="btn red darken-1">
            <i class="fa fa-google-left"></i>
            Login With Google
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
